:root {
  --fonts: "Segoe UI", Arial, Helvetica, sans-serif;
  --font-size-base: 1rem;
  --base-line-height: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonts);
  font-size: var(--font-size-base);
}
